@font-face {
    font-family: mifuente;
    src: url("monumentValley.otf");
}

body {
    margin: 0;
    background-color:#89dbff;
    font-family: mifuente;
    overflow-x: hidden;
}

.headerPos1 {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #0d9ddb;
    text-align: center;
    position: absolute;
    top: 0px;
}
.logoPos1 {
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.headerPos2 {
    min-width: 100vw;
    min-height: 0%;
    height: 60px;
    background-color: #0d9ddb;
    text-align: center;
    position: fixed;
    top: 0px;
    transition: 1s;
    box-shadow: 0px 10px 10px #0d9ddb;
    padding-top: 2px;
}
.logoPos2 {
    height: 110px;
    position: absolute;
    transition: 0.82s;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#header .menu {
    width: 40%;
    position: absolute;
    height: 100%;
    font-family: mifuente;
    color: white;
    font-size: 26px;
    display: none;
    font-weight: 700;
}

#header #menuIzq {
    right: 50%;
    padding-right: 70px;
}

#header #menuDer {
    left: 50%;
    padding-left: 70px;
}

#header .menu td {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 8px 8px  #0d9ddb inset;
    text-align: center;
}
#header .menu td:hover, td.hovered {
    background-color: rgb(0, 81, 255);
}

#content {
    position: absolute;
    top: 60px;
    width: 100%;
    min-height: 100vh;
    font-family: arial;
    z-index: -2;
    opacity: 0;
    transition: 0.7s;
}

#content table {
    width: 600%;
    height: 500px;
    transition: 0.7s;
    vertical-align: top;
    margin-top: 20px;
}

#content table td {
    width: 16.66%;
    text-align: center;
    padding: 50px;
    vertical-align: top;
}

#content tr {
    height: 33%;
}

#content table td div {
    margin-top: 50px;
    background-color: white;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 50px;
    box-shadow: 0 0 15px 15px white;
    border-radius: 50px;
    transition: 0.5s;
    color:#0099ff;
}
#content table td div:hover:not(.textoNo) {
    box-shadow: 0 0 25px 25px white;
}

#content table td div .tituloContent {
    font-size: 25px;
    font-weight: 700;
}

::-webkit-scrollbar {
    display: none;
}

.textoNo {
    border: none !important;
}