@font-face {
    font-family: mifuente;
    src: url("monumentValley.otf");
}

body {
    margin: 0;
    background-color:#89dbff;
    font-family: mifuente;
    overflow-x: hidden;
    cursor: cell;
}

.headerPos1 {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #0d9ddb;
    text-align: center;
    position: absolute;
    top: 0px;
}
.logoPos1 {
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.headerPos2 {
    min-width: 100vw;
    min-height: 0%;
    height: 60px;
    background-color: #0d9ddb;
    text-align: center;
    position: fixed;
    top: 0px;
    transition: 1s;
    box-shadow: 0px 10px 10px #0d9ddb;
    padding-top: 2px;
}
.logoPos2 {
    height: 110px;
    position: absolute;
    transition: 0.82s;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#header .menu {
    width: 40%;
    position: absolute;
    height: 100%;
    font-family: mifuente;
    color: white;
    font-size: 26px;
    display: none;
    font-weight: 700;
}

#header #menuIzq {
    right: 50%;
    padding-right: 70px;
}

#header #menuDer {
    left: 50%;
    padding-left: 70px;
}

#header .menu td {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 8px 8px  #0d9ddb inset;
    text-align: center;
}
#header .menu td:hover, td.hovered {
    background-color: rgb(0, 81, 255);
}

#content {
    position: absolute;
    top: 60px;
    width: 100%;
    min-height: 100vh;
    font-family: arial;
    z-index: -2;
    opacity: 0;
    transition: 0.7s;
}

#content table {
    width: 600%;
    height: 500px;
    transition: 0.7s;
    vertical-align: top;
    margin-top: 20px;
}

#content table td {
    width: 16.66%;
    text-align: center;
    padding: 50px;
    vertical-align: top;
}

#content tr {
    height: 33%;
}

#content table td div {
    margin-top: 50px;
    background-color: white;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 50px;
    box-shadow: 0 0 15px 15px white;
    border-radius: 50px;
    transition: 0.5s;
    color:#0099ff;
}
#content table td div:hover:not(.textoNo) {
    box-shadow: 0 0 25px 25px white;
}

#content table td div .tituloContent {
    font-size: 25px;
    font-weight: 700;
}

#content table td div strong{
    color: rgb(0, 71, 165);
}

::-webkit-scrollbar {
    display: none;
}

.textoNo {
    border: none !important;
}

#arriba {
    background-color: white;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 40px; 
    right: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px white;
    cursor: pointer;
    display: none;
}
#arriba img {
    width: 100%;
}

.globo {
    position: absolute;
}

.c {
    left: 9%;
    animation: c 8.2s ease-in-out infinite;
}

.s1 {
    top: 10px;
    left: 35%;
    animation: s1 7.2s ease-in-out infinite;
}

.s2 {
    top: 73px;
    left: 60%;
    animation: s2 8.2s ease-in-out infinite;
}

@keyframes c {
    0%, 100% {
        transform: translateY(0) rotate(-6deg);
    }
    50% {
        transform: translateY(-1.25em) rotate(8deg);
    }
}

@keyframes s1 {
    0%,100% {
        transform: translate(-0.9375em, 0.625em) rotate(10deg);
    }
    50% {
        transform: translate(0.625em, -0.625em) rotate(-8deg);
    }
}

@keyframes s2 {
    0%, 100% {
        transform: translateY(0) rotate(6deg);
    }
    50% {
        transform: translateY(-1.875em) rotate(-8deg);
    }
}

.tablaProp {
    width: 100% !important; 
    height: auto !important; 
    transform: none !important;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 60px;
}

.tablaProp td {
    width: auto !important;
    font-size: 16px;
}

.tablaProp td, .tablaProp th {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    vertical-align: middle !important;
}
